.container
{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 12px;
  background-color: white;
}

#text1
{
  font-size: 40px;
  color: blue;
}
#second
{
  margin-top: 100px;
}
